<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DogWalkEntities" connectionString="metadata=res://*/Entities.DogWalkDatabase.csdl|res://*/Entities.DogWalkDatabase.ssdl|res://*/Entities.DogWalkDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CODEBOX-PC;initial catalog=DogWalk;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>